.main {
  background-color: lightblue;
  padding: 20px;

  .main-header {
    font-size: 2em;
  }

//   & &-paragraph {
//     font-size: 1.5em;
//   }
  //sama aja dengan (& &-paragraph):
  #{&}-paragraph {
    font-size: 1em;
    // letter-spacing: 15px;
    color: cadetblue;
  }
}

.main,
footer {
  h1,
  p {
    letter-spacing: 3px;
    line-height: 30px;
  }
}

.footer-header {
  footer & {
    color: brown;
  }
  &:hover {
    color: pink;

  }
}
